@use '../../../styles/main' as *;

.filterActive {
    max-height: 2.5rem !important;
}

#myProjectFilter {
    transition: 0.3s;
    max-height: 20rem;
    overflow: hidden;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grayLight;

    .myProjectFilterHeader {
        @include flexbox(sb, c);
        margin-bottom: 1rem;

        .filterTitle {
            cursor: pointer;
            font-size: $b;
        }
    }

    .containerContents {
        div b {
            font-size: $s;
            display: block;
            color: $gray;
            margin-bottom: 0.5rem;
        }

        ul {
            @include flexbox();
            gap: 0.5rem;
            flex-wrap: wrap;

            li {
                button {
                    @include btnBase();
                    text-wrap: nowrap;
                }

                .active {
                    @include btnActive();
                }
            }
        }

        .filterTotalMember {}

        .filterSkills {
            margin-top: 1rem;
        }
    }
}