@import "common.scss";

@font-face {
    font-family: 'TTHakgyoansimSamulhamR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimSamulhamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
}

header{
    width: 768px;
    margin: 2rem;
    height: 100px;
}

.titleLogo {
    margin: 2rem 0;

    a {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        color: rgb(0, 202, 169);
        font-family: 'TTHakgyoansimSamulhamR';
    }
}

.subMenuBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}