#mainSlide {
    .swiper-wrapper {
        .contentsFigure {
            .innerContents {

                img {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                }

                .bottom {
                    padding: 1rem;
                }
            }
        }
    }
}