@use '../styles/main' as *;

.mainContainer {
    padding-top: 6rem;
    position: relative;

    .padding {
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;
    }

    .lvTestBtn {
        @include column-flexbox(c, c);
        position: fixed;
        right: calc(50% - 330px);
        bottom: 25px;
        cursor: pointer;

        .dot {
            width: 7px;
            height: 7px;
            background-color: #D67BFF;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}