@use '../../styles/main' as *;

#mainHeader {
    padding: 0 2rem;
    box-shadow: 0 18px 18px -10px $wGray;

    .headerTOP {
        @include flexbox(sb, c);

        .leftSide {
            .mainActiveTopMenu {
                font-weight: 900;
            }
        }

        .titleLogo {
            margin: 2rem 0;
        }

        .rightSide {
            .signUp {
                color: $main;
                font-weight: 700;
            }
        }

        div {
            @include flexbox(sb, c);

            // between line
            &>a:first-child::after {
                display: inline;
                content: '|';
                color: $grayLight;
                font-weight: 400;
                margin: 0.5rem;
            }
        }


    }

    .headerGNB {
        @include flexbox(c, c);
        gap: 2rem;
    }

    .subMenuBar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .link {}
    }
}