@import '../../../styles/main.scss';

#HeaderMenu {
    position: relative;
    display: none;
}

#HeaderMenu.active {
    display: block;
}

#HeaderMenu::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    width: 100%;
    padding: 1rem;
    height: 100vh;
    backdrop-filter: brightness(0.5);
}

.headerBG {
    @include column-flexbox(c, s);
    padding: 1.5rem 2rem 2rem 0;
    position: absolute;
    top: 0;
    left: -2rem;
    padding-left: 2rem;
    z-index: 10;
    width: 100%;
    max-width: calc(50% + 2rem);
    height: 100vh;
    background-color: #fff;

    .headerTop {
        @include column-flexbox(s, s);
        gap: 2rem;
        width: 100%;
        height: 100%;

        .loginCont {
            width: 100%;
            padding-bottom: 1rem;
            border-bottom: 1px solid $grayLight;

            .onSessionUser {
                @include flexbox;
                gap: 1rem;
                position: relative;
                z-index: 0;

                img {
                    border-radius: 50%;
                    box-shadow: 0 0 0.5rem 0 $main;
                }

                &::after {
                    width: 10px;
                    height: 10px;
                    content: '💚';
                    position: absolute;
                    top: 1.2rem;
                    left: 1.5rem;
                    z-index: 11;
                }
            }

            .userName {
                color: $main;
                font-weight: 700;
            }

            a {
                @include flexbox(s, c);
                font-size: $b;
                font-weight: 700;

                span {
                    font-weight: 400;
                    color: $grayLight;
                }
            }
        }

        button {
            img {
                transform: translate(-3px, -3px)
            }
        }
    }

    .headerMenuGroup {
        @include column-flexbox();
        gap: 2rem;

        li {
            h3 {
                font-size: $b;
            }

            ul {
                li {
                    margin: 0.5rem;
                    color: $gray;
                    cursor: pointer;
                    z-index: 0;

                    &>a,
                    &>span {
                        position: relative;
                        transition: 0.2s ease;
                        z-index: 0;
                    }

                    &>*::before {
                        content: '';
                        width: 0%;
                        height: 0.5rem;
                        background-color: $mainLight;
                        bottom: 0;
                        position: absolute;
                        z-index: -1;
                        transition: 0.2s ease;
                    }

                    &:hover {
                        font-weight: 700;
                        color: $grayDark;
                    }

                    &:hover>*::before {
                        content: '';
                        width: 100%;
                        height: 0.5rem;
                        background-color: $mainLight;
                        bottom: 0;
                        position: absolute;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .headerBottom {
        .signUp {
            font-weight: 700;
            color: $main;
            cursor: pointer;
        }
    }
}

@include responsive(m) {
    .headerBG {
        max-width: 80%;
        height: 100vh;
    }
}

@include responsive(s) {
    #HeaderMenu {
        width: 100vw;

        &::after {
            display: none;
        }
    }

    .headerBG {
        max-width: 100%;
        height: 100vh;
    }
}