@use '../../styles/main' as *;

#communityMyProjectContainer {
    padding: 4rem 0;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        width: 100%;
        height: 280px;
        position: absolute;
        top: 0;
        z-index: -1;
        background: $wGray;
    }

    .containerContents {
        padding: 0 2rem;
        @include flexbox;
        gap: 2rem;

        .ccitem {
            width: calc((100% - 2rem) / 2);
            height: 240px;
            background-color: #fff;
            box-shadow: 0 0 0.5rem 0 $grayLight;
        }

        #mainSlide {
            border-radius: 1rem;
        }

        .ccitem.best1 {
            position: relative;
            background-color: #000;

            img {
                transition: 0.1s ease-in;
                width: 100%;
                height: 100%;
                opacity: 0.7;
                object-fit: cover;
            }

            &:hover img {
                opacity: 0.5;
            }

            &::after {
                content: 'BEST';
                font-size: $s;
                color: $grayDark;
                text-align: center;
                display: block;
                padding-top: 0.7rem;
                font-weight: 700;
                background: url('../../essets/best.svg');
                background-size: cover;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 0;
                left: 1rem;
                z-index: 0;
            }

            figcaption {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                z-index: 0;

                h3 {
                    display: inline;
                    position: relative;
                    font-size: $b;
                    z-index: 0;
                    color: #fff;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 0.5rem;
                        background-color: $main;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                    }
                }

                .bottom {
                    padding-top: 0.5rem;
                    @include flexbox(s, c);
                    gap: 0.5rem;
                    font-size: $s;

                    * {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@include responsive(m) {
    #communityMyProjectContainer .containerContents {
        flex-direction: column;

        .ccitem {
            width: 100%;
        }
    }
}