@use '../../styles/main' as *;

#communityMyProjectContainer {
    .containerContents {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        grid-template-areas:
            "a b c"
            "a d e"
            "f g e"
        ;

        div {
            background-color: $main;
            border-radius: 0.5rem;
            @include flexbox(c, c);
        }

        .item1 {
            grid-area: a;
        }

        .item5 {
            grid-area: e;
        }
    }
}