@use '../../styles/main' as *;

.myPageMain {
    padding-top: 4rem;
    color: $grayDark;

    .myPageBack {
        background-color: $main;
        height: 290px;
        width: 100%;
        color: #fff;
        position: relative;
    }

    .myPageTitle {
        padding: 2rem;
        max-width: calc(430px);
        margin: 0 auto;

        // margin-bottom: 4rem;
        .myTitle1 {
            span {
                font-weight: bold;
            }
        }

        .myTitle2 {
            font-size: x-large;
            line-height: 130%;
            padding: 10px 0 60px 0;
            font-weight: 500;


            span {
                color: $sub1;
            }

        }

        .myInfo {
            @include flexbox();
            gap: 10px;
            text-align: center;


            p {
                font-size: 14px;
                margin: 0.5rem;
            }


            .myLv {
                >b {
                    color: $main;
                    background-color: #fff;
                    padding: 5px 15px;
                    border-radius: 15px;
                }
            }

            .myAct {
                b {}
            }
        }

        .myImg {
            position: absolute;
            top: 160px;
            right: calc(20% + 2rem);

            >div {
                width: 160px;
                height: 160px;
                background: #fff url(../../essets/charactor/CHO.svg) center center no-repeat;
                background-size: contain;
                border-radius: 50%;

            }
        }
    }


    .myPageContents {
        max-width: calc(430px);
        margin: 0 auto;
        padding: 2rem;

        .myTitleFlex {
            @include flexbox(sb, c);
            margin: 0.5rem 0;

            h4 {}

            span {
                font-size: $s;
                @include flexbox(c, c);
            }
        }
    }

    .likeThumb {
        @include flexbox();
        overflow: hidden;

        figure {

            >div {
                width: 150px;
                height: 120px;
                margin-right: 10px;
                flex-shrink: 0;
                background: $grayLight;
                border-radius: 9px;
            }

            figcaption {
                padding: 5px 0;
                font-size: $s;
            }


        }
    }



    .myCheck {
        text-align: center;
        padding: 20px;
        border: 1px solid $grayLight;
        border-radius: 9px;

    }
}

.commuThumb,
.commuContents {

    figure {
        @include flexbox(s, c);
        gap: 10px;

        >div {
            width: 90px;
            height: 76px;
            background: $grayLight;
            margin: 0.5rem 0;
            border-radius: 9px;
        }

        figcaption {
            width: 50%;

            >div {
                display: inline-block;
                font-size: $s;
                background: $grayLight;
                padding: 1px 10px;
                border-radius: 10px;
                color: #fff;
            }

            b {
                display: block;
                padding: 3px 0px;
            }

            p {
                color: $grayLight;
                font-size: $s
            }
        }

        .heart {
            @include flexbox(sb, c);
            gap: 2px;

            span {}
        }
    }
}








//마이페이지 / 책갈피,커뮤니티

.likePage,
.commuPage,
.checkPage {
    padding-top: 6rem;
    color: $grayDark;

    .likeTitle,
    .commuTitle,
    .checkTitle {
        position: relative;

        p {
            position: absolute;
            top: 0;
            left: 2rem;
        }

        h3 {
            text-align: center;
        }
    }

    .commuContents {
        max-width: calc(480px - 2rem);
        margin: 2rem auto;
        justify-content: center;
    }

    .commuEmpty,
    .likeEmpty {
        @include column-flexbox(c, c);
        margin: 5rem 0 2rem 0;

        Image {}

        p {}

        div {
            color: $grayLight;
            padding: 0.5rem 1rem;
            border: 1px solid $grayLight;
            border-radius: 2rem;
            margin: 1.5em;
        }
    }
}