@use '../../../styles/main.scss' as *;

#QnAMain{
    .QnAContentContainer{
        .QuestionBox{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $grayDark;
            padding: $b;
            .QuestionText{
                margin-right: $b;
                width: 80%;
                h2{
                    color: $grayDark;
                    font-size: $b;
                }
                >p{
                    font-size: $s;
                    color: $grayLight;
                    -webkit-line-clamp: 3;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin: $b 0;
                }
                .QnAInfo{
                    display: flex;
                    >p{
                        font-size: $s;
                        color: $grayLight;
                        margin-right: $b;
                    }
                }
            }
            .QuestionImg{
                width: 120px; height: 120px;
                background-color: black;
            }
        }
    }
}